{% extends 'templates/base.njk' %}

{% block bannerContent %}
{% from "macros/player.njk" import player %}

    {{ player(title, description, audioFile, false) }}
{% endblock bannerContent %}
    


{% block content %}

    <div class="stack">
    {{ content | safe}}
    </div>


{% endblock content %}
