{% macro player(episodeTitle, 
    episodeDescription, 
    episodeAudio,
    episodeUrl
) %}

<div class="episode-info stack">
    {% if episodeUrl %}<h3 class="banner__label">Latest Episode</h3>{% endif %}
    <h2 class="episode-headline">{% if episodeUrl %}<a href="{{ episodeUrl }}">{% endif %}{{ episodeTitle }}{% if episodeUrl %}</a>{% endif %}</h2>
    <p class="episode-description">{{ episodeDescription }}</p>
    <figure class="banner-player stack--tight">
    <figcaption class="player-title">Listen to this week's episode</figcaption>
    <audio
        controls
        src="{{ episodeAudio }}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
</div>

{% endmacro %}
